.formModalComponent {
  > label {
    width: 25%;
    margin-bottom: 15px;
  }
}
.corsiModalComponent {
  label {
    margin-bottom: 10px;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    > p {
      margin: 0;
    }
    > input {
      margin-right: 15px;
    }
  }
}
.bottoni {
  display: flex;
  justify-content: space-between;
  > div {
    span {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        color: red;
      }
    }
    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
