.navBarDown {
  img {
    filter: saturate(20%);
    &:hover {
      cursor: pointer;
      filter: saturate(60%);
    }
    &.active {
      filter: saturate(100%);
    }
  }
}
.sideBar {
  .navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  height: 100vh;
  box-shadow: 0px 4px 18px rgba(114, 128, 255, 0.25);
  .sideBarLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none !important;
    color: black;
    &:hover {
      color: #8a8fc0;
      > img {
        filter: saturate(60%);
      }
    }
    &.active {
      color: #7280ff;
      font-weight: 500;
      > img {
        filter: saturate(100%);
      }
    }
    > img {
      margin-right: 10px;
      filter: saturate(0%);
    }
  }
}
