@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./branding.scss";
@import "~bootstrap/scss/bootstrap";

.row {
  --bs-gutter-x: unset !important;
  --bs-gutter-y: unset !important;
}

.modal-dialog {
  .btn-secondary {
    background-color: #e6e6e6;
    &:hover {
      background-color: #bebebe;
    }
  }
  .btn-primary {
    color: white;
    &:hover {
      color: white;
    }
  }
}
