$body-bg: #ececec;
$body-color: #252525;
$theme-colors: (
  "primary": #3c6e81,
  "secondary": #e9c46a,
  "success": #2a9d8f,
  "danger": #e76f51,
  "warning": #f4a261,
  "info": #696969,
  "light": #d6d6d6,
  "dark": #2c2c2c,
);
