$body-bg: #ffffff;
$body-color: #252525;
$theme-colors: (
  "primary": #7280ff,
  "secondary": #e9c46a,
  "success": #2a9d8f,
  "danger": #e76f51,
  "warning": #f4a261,
  "info": #696969,
  "light": #d6d6d6,
  "dark": #2c2c2c,
);
$font-family-base: "Inter";
